.shipping {
  background-color: #F2F2F2;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.product-details {
  overflow: hidden;
}

#similar-product {
  margin-top: 40px;
}
div .nav-pills > li + li {
  margin-left: 0;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: $brand-primary;
  bottom: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item {
  padding-left: 0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}

.item-control i {
  background: $brand-primary;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover {
  background: #ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;

  .newarrival {
    position: absolute;
    top: 0;
    left: 0
  }
}

.product-information h2 {
  color: #363432;

  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: $brand-primary;
  float: left;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}

.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}

.cart {
  background: $brand-primary;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#reviews ul {
  background: #FFFFFF;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews ul li {
  display: inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i {
  color: $brand-primary;
  padding-right: 8px;
}

#reviews ul li a:hover {
  background: #fff;
  color: $brand-primary;
}

#reviews p {
  color: #363432;
}

#reviews form span {
  display: block;
}

#reviews form span input {
  background: #F0F0E9;
  border: 0 none;
  color: #A6A6A1;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}

#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #F0F0E9;
  border: medium none;
  color: #A6A6A1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: $brand-primary;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 14px;
}








.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403E;
  border-bottom: 1px solid $brand-primary;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  background: #40403E;
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
  background:$brand-primary;
  color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: $brand-primary;
  border:0px;
  color: #FFFFFF;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}
