<ul class="list-group category">
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Mobile &amp; Tablets
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Computers, Office &amp; Gaming
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Home &amp; Kitchen
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Women's Fashin
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Men's Fashion
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Toys, Kids &amp; Babies
  </li>
  <li class="list-group-item">
    <i class="fa fa-plus pull-right"></i>
    Sports &amp; Fitness
  </li>
</ul>
