.product-image-wrapper {
  border: 1px solid #f7f7f5;
  overflow: hidden;
  margin-bottom: 30px;
  .single-products {
    position: relative;
  }

  .new, .sale {
    position: absolute;
    top: 0;
    right: 0;
  }

  .productinfo {
    position: relative;

    img {
      width: 100%;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: #696763;
    }

    h2 {
      color: $brand-primary;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .product-overlay {
    background: $brand-primary;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
    opacity: 1;
    color: #FFFFFF;

    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }

    .overlay-content {
      bottom: 0;
      position: absolute;
      padding: 5px;
      text-align: center;
      width: 100%;
    }

    .add-to-cart {
      background: #fff;
      border: 0 none;
      border-radius: 0;
      color: $brand-primary;
      font-size: 15px;
      margin-bottom: 25px;

      &:hover {
        background: #fff;
        color: $brand-primary;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
      }
    }
  }

  .single-products:hover .product-overlay {
    display: block;
    height: 100%;
  }

  .add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #222;
    font-size: 15px;
    margin-bottom: 25px;

    &:hover {
      background: $brand-primary;
      border: 0 none;
      border-radius: 0;
      color: #FFFFFF;
    }
  }

  .add-to {
    margin-bottom: 10px;

    &:hover {
      background: $brand-primary;
      color: #FFFFFF;
    }

    i {
      margin-right: 5px;
    }
  }
}
